<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_plistFileName</key>
	<string>SwapsyInit</string>
	<key>currency</key>
	<array>
		<string>USD</string>
		<string>CNY</string>
		<string>GBP</string>
		<string>CAD</string>
	</array>
	<key>currencyWalletMap</key>
	<dict>
		<key>CAD</key>
		<array>
			<string>paypal_ca</string>
		</array>
		<key>CNY</key>
		<array>
			<string>alipay</string>
			<string>wxpay</string>
		</array>
		<key>GBP</key>
		<array>
			<string>paypal_uk</string>
		</array>
		<key>USD</key>
		<array>
			<string>zelle</string>
			<string>paypal</string>
		</array>
	</dict>
	<key>version</key>
	<string>1.000</string>
</dict>
</plist>
